@charset "UTF-8";
header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px 30px;
  z-index: 100;
  background-color: darkgray;
}
.header-left {
  float: left;
}
.header-right {
  float: right;
}
main {
  padding: 130px 40px;
  color: black;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: azure;
  padding: 5px 15px;
}
